includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - vendor
        - src/Filament
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

